*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
	--main-color: #ff8439;
	--main-color-hover: #ef593b;
	--green-color: #45b851;
	--dark-color: #1a1a1c;
	--dark-color-light: #222;
	--white-color: #f9f9f9;
	--pure-white-color: #fff;
	--box-shadow-dark: rgba(16, 4, 4, 0.15);
	--box-shadow-light: rgba(255, 255, 255, 0.15);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 8.5rem;
}

body {
	line-height: 1.4;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--pure-white-color);
}

img {
	width: 100%;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

.section {
	padding: 10rem 0;
}

.section-heading {
	font-size: 4rem;
	text-align: center;
	margin-bottom: 8rem;
}

.section-description {
	font-size: 2.4rem;
	text-align: center;
	color: var(--dark-color);
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--pure-white-color);
	z-index: 999;
	transition: opacity 0.7s, visibility 0.7s;
}

.preloader .ring {
	position: absolute;
	width: 17.5rem;
	height: 17.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.preloader .ring span {
	color: var(--dark-color-light);
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 2px;
}

.preloader .ring::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 5px var(--box-shadow-dark);
	border-radius: 50%;
	animation: ring 2s linear infinite;
	opacity: 0.7;
}

.preloader.loader-hidden {
	opacity: 0;
	visibility: hidden;
}

.cookie-modal {
	padding: 2rem;
	background-color: var(--white-color);
	font-size: 1.4rem;
	max-width: 50rem;
	color: var(--dark-color);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	box-shadow: 0px 2px 5px var(--box-shadow-dark);
}
.cookie-modal a {
	color: var(--main-color);
}
.cookie-modal .cookie-btn {
	margin-top: 2rem;
	padding: 1rem 3rem;
	font-family: inherit;
	letter-spacing: 2px;
	color: var(--white-color);
	background-color: var(--dark-color);
	border: 2px solid var(--dark-color);
	transition: background-color 0.3s, color 0.3s;
}
.cookie-modal .cookie-btn:hover {
	background-color: transparent;
	color: var(--dark-color);
}

.scroll-to-top {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	height: 3rem;
	width: 3rem;
	padding: 2rem;
	font-size: 3rem;
	border-radius: 6px;
	color: var(--white-color);
	transform: translateY(400%);
	background-color: var(--main-color);
	box-shadow: 1px 1px 4px var(--box-shadow-dark);
	transition: transform 0.3s ease 0.3s, opacity 0.3s 0.3s ease;
	z-index: 50;
	opacity: 0;
}

.scroll-to-top.active {
	transform: translateY(0);
	opacity: 1;
}

.appear {
	animation: slideIn 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.animate {
	opacity: 0;
}

.menu-btn {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 5rem;
	height: 5rem;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: var(--pure-white-color);
	border-radius: 6px;
	cursor: pointer;
	z-index: 101;
	transition: transform 0.3s 0.3s;
}

.menu-btn__burger {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 0.3rem;
	border-radius: 5px;
	background-color: #ff8439;
	box-shadow: 0 2px 5px var(--box-shadow-dark);
	transition: all 0.4s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	position: absolute;
	content: '';
	width: 3rem;
	height: 0.3rem;
	border-radius: 5px;
	background-color: #ff8439;
	box-shadow: 0 2px 5px var(--box-shadow-dark);
	transition: all 0.4s ease-in-out;
}

.menu-btn__burger::before {
	transform: translateY(-8px);
}

.menu-btn__burger::after {
	transform: translateY(8px);
}

/* ANIMATION MENU BTN  */
.menu-btn.open {
	transform: rotate(180deg);
}

.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	z-index: 100;
	transition: background-color 0.3s, border 0.3s;
	border-bottom: 2px dashed transparent;
}

.nav .wrapper {
	display: flex;
	max-width: 140rem;
	align-items: center;
	height: 8rem;
	justify-content: space-between;
	transition: height 0.3s, max-width 0.3s;
}

.nav.expand {
	background-color: var(--pure-white-color);
	/* border-bottom: 2px dashed var(--dark-color); */
	box-shadow: 1px 1px 5px rgba(16, 4, 4, 0.15);
}
.nav.expand .wrapper {
	height: 8.5rem;
	max-width: 147rem;
}
.nav .nav__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.nav .nav__logo .logo {
	height: 4.4rem;
	object-fit: cover;
}
.nav .nav-links {
	display: flex;
	align-items: center;
	font-size: 1.7rem;
}
.nav .nav-links__item:not(:last-child) {
	margin-right: 2rem;
}
.nav .nav-links__item a {
	position: relative;
	letter-spacing: 1px;
	padding: 1rem;
	color: var(--dark-color);
	font-weight: bold;
	transition: color 0.3s;
}

.nav .nav-links__item a:hover,
.nav .nav-links__item a:focus,
.nav .nav-links__item a:active {
	color: var(--main-color);
}

.nav .nav-links__item a::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(50%);
	border-bottom: 2px solid var(--dark-color);
	opacity: 0;
	transform-origin: left;
	transition: opacity 0.3s, transform 0.3s;
	overflow: hidden;
}

.nav .nav-links__item a:focus {
	outline: none;
}

.nav .nav-links__item a:hover::before,
.nav .nav-links__item a:active::before,
.nav .nav-links__item a:focus::before {
	transform: translateY(0%);
	opacity: 1;
}

.nav .nav-links__item a.active::before {
	transform: translateY(0%);
	opacity: 1;
}

.nav .nav-links__item a.active {
	color: var(--main-color);
}

.nav .nav-links__item--contact a {
	position: relative;
	background-color: var(--main-color);
	color: var(--pure-white-color);
	border-radius: 6px;
	padding: 1rem 2rem;
	transition: background-color 0.3s;
}

.nav .nav-links__item--contact a.active {
	color: var(--pure-white-color);
}

.nav .nav-links__item--contact a::before {
	display: none;
}
.nav .nav-links__item--contact a:hover,
.nav .nav-links__item--contact a:active,
.nav .nav-links__item--contact a:focus,
.nav .nav-links__item--contact a.active {
	color: var(--pure-white-color);
	background-color: var(--main-color-hover);
}

.nav .nav-links__item .btn-darkMode {
	margin-left: 3rem;
	font-size: 2.7rem;
	border: none;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-color);
	background: transparent;
	background-color: transparent;
}
.nav .nav-links__item .btn-darkMode .dark {
	display: none;
}

.header {
	position: relative;
	background-color: var(--pure-white-color);
	position: relative;
	overflow: hidden;
	z-index: 1;
	margin: 0 2rem;
	perspective: 1000px;
}
.header::after {
	position: absolute;
	content: '';
	top: 0%;
	right: 0%;
	width: 70%;
	height: 90%;
	transform-origin: top right;
	transform: rotate(40deg);
	background-color: var(--white-color);
	/* border: 2px dashed var(--dark-color); */
	box-shadow: 1px 1px 5px rgba(16, 4, 4, 0.10);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	z-index: -1;
}
.header .logo-mobile {
	display: none;
}

.header .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	max-width: 140rem;
	gap: 2rem;
}
.header-content {
	width: 50%;
}
.header-content__heading {
	color: var(--dark-color);
	font-size: 5rem;
	margin-bottom: 2rem;
}
.header-content__description {
	font-size: 2rem;
}
.header-content__description--question {
	font-weight: 600;
	color: #ff8439;
}
.header-content__description--answer {
	margin: 1rem 0;
	font-weight: 400;
	color: var(--dark-color);
}
.header-content__description--answer span {
	font-weight: bold;
}
.hash-box {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}
.header-content__description--hash {
	margin-top: 2rem;
	display: inline-block;
	border-radius: 6px;
	font-size: 1.7rem;
	padding: 1.2rem 2rem;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: var(--main-color);
	box-shadow: 2px 2px 5px rgba(16, 4, 4, 0.15);
	color: #f9f9f9;
}

.header-image {
	width: 70%;
}
.header-image__img {
	display: block;
	margin-left: auto;
	width: 100%;
	filter: drop-shadow(2px 2px 6px var(--box-shadow-dark));
}

.about {
	background-color: var(--white-color);
	margin: 2rem;
	border-radius: 6px;
}
.about .section-heading {
	color: #ff8439;
}
.about .about-box {
	display: flex;
	align-items: center;
	gap: 10rem;
}
.about .about-box .about-content {
	width: 50%;
	height: 100%;
	align-self: flex-start;
	overflow: hidden;
}
.about .about-box .about-content__heading {
	color: var(--dark-color);
	font-size: 3.5rem;
	font-weight: bold;
}
.about .about-box .about-content__description {
	font-size: 2.4rem;
	color: var(--dark-color);
}
.about .about-box .about-content .strategy-content {
	color: var(--dark-color);
	margin-top: 3rem;
}
.about .about-box .about-content .strategy-content .strategy-item:not(:last-child) {
	margin-bottom: 2rem;
}
.strategy-item {
	transform: translateX(-100%);
}
.about .about-box .about-content .strategy-content .strategy-item__title {
	font-size: 2rem;
	font-weight: bold;
	color: var(--main-color);
}
.about .about-box .about-content .strategy-content .strategy-item__title span {
	color: transparent;
	font-size: 6rem;
	-webkit-text-stroke: 2px var(--dark-color);
	opacity: 0.6;
	margin-right: 1rem;
}
.about .about-box .about-content .strategy-content .strategy-item__text {
	font-size: 1.6rem;
	span {
		font-weight: bold;
	}
}
.about .about-box .about-cards {
	position: sticky;
	top: 13%;
	height: 100%;
	align-self: flex-start;
	width: 50%;
	min-height: 45rem;
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}
.about .about-box .about-cards .card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 47%;
	min-height: 30rem;
	max-height: 30rem;
	padding: 2rem;
	text-align: center;
	color: var(--dark-color);
	border: 2px solid var(--dark-color);
	background-color: transparent;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 1px 1px 5px var(--box-shadow-dark);
}
.about .about-box .about-cards .card__icon {
	font-size: 4.5rem;
}
.about .about-box .about-cards .card__title {
	margin-top: 1rem;
	font-size: 2rem;
}

.about .about-box .about-cards .card--orange {
	border: none;
	padding: 0;
}
.about .about-box .about-cards .card--orange .card__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.seo {
	background-color: var(--pure-white-color);
	overflow: hidden;
}

.seo-box {
	display: flex;
	gap: 10rem;
	align-items: center;
}
.seo-box .seo-images {
	width: 50%;
}
.seo-box .seo-images .seo-images__img {
	filter: drop-shadow(2px 2px 6px var(--box-shadow-dark));
}
.seo-box .seo-content {
	width: 50%;
	transform: translateX(100%);
}
.seo-content.appear {
	animation: slideInFromLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.seo-box .seo-content .section-heading {
	color: var(--dark-color);
	margin-bottom: 1rem;
}
.seo-box .seo-content .section-description {
	text-align: center;
	font-size: 2.4rem;
	color: var(--dark-color);
}
.seo-box .seo-content .seo-list {
	margin-top: 3rem;
	padding: 2rem;
}
.seo-box .seo-content .seo-list__item {
	position: relative;
	font-size: 1.6rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid #ff8439;
	color: var(--dark-color);
}
.seo-box .seo-content .seo-list__item:not(:last-child) {
	margin-bottom: 2rem;
}

.portfolio {
	background-color: var(--white-color);
	position: relative;
	overflow: hidden;
	margin: 2rem;
	border-radius: 6px;
	z-index: 1;
}

.portfolio .section-heading {
	color: var(--dark-color);
}

.portfolio .portfolio-box {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(3, 1fr);
}
.portfolio .portfolio-box .project {
	position: relative;
	height: 50rem;
	overflow-y: scroll;
	box-shadow: 5px 1px 10px var(--box-shadow-dark);
	border-radius: 6px;
	transform: translateY(-100%);
}
.portfolio-box .project.appear {
	animation: dropDown 1s 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.portfolio .portfolio-box .project .project-incoming {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	opacity: 0.2;
}
.portfolio .portfolio-box .project-text {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
	flex-direction: column;
	-webkit-clip-path: circle(50% at 125% -20%);
	clip-path: circle(50% at 190% -20%);
	background-color: transparent;
	backdrop-filter: blur(3px);
	transition: background-color 0.3s ease, -webkit-clip-path 0.3s ease;
	transition: background-color 0.3s ease, clip-path 0.3s ease;
	transition: background-color 0.3s ease, clip-path 0.3s ease, -webkit-clip-path 0.3s ease;
}
.portfolio .portfolio-box .project-text__title {
	color: #fff;
	font-size: 2.4rem;
	margin-bottom: 1rem;
}
.portfolio .portfolio-box .project-text__live {
	color: #fff;
	font-family: inherit;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.7rem;
	padding: 1rem 3rem;
	border: 2px solid #fff;
	transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}
.portfolio .portfolio-box .project-text__live:hover {
	color: var(--dark-color);
	background-color: #ff8439;
	border: 2px solid #ff8439;
}
.portfolio .portfolio-box .project__btn {
	position: absolute;
	top: 1rem;
	right: 2rem;
	border: none;
	background: transparent;
	color: #ff8439;
	background-color: var(--dark-color);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 3rem;
	padding: 2rem;
	transition: color 0.3s;
}
.portfolio .portfolio-box .project__btn:hover,
.portfolio .portfolio-box .project__btn:focus {
	color: var(--pure-white-color);
}
.portfolio .portfolio-box .project.show .project-text {
	-webkit-clip-path: circle(200% at 125% -20%);
	clip-path: circle(200% at 125% -20%);
	background-color: rgba(0, 0, 0, 0.55);
}

.portfolio .portfolio-box .project.show {
	overflow-y: hidden;
}

.faq {
	position: relative;
	background-color: var(--pure-white-color);
	overflow: hidden;
}

.faq .faq-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
}
.faq .section-heading {
	margin-bottom: 3rem;
	color: #ff8439;
}
.faq .faq-content {
	align-self: start;
	width: 40%;
}
.faq .faq-list {
	width: 60%;
}
.faq .faq-list .faq-item {
	color: var(--dark-color);
	margin: 2rem;
}
.faq .faq-list .faq-item__btn {
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	padding: 1rem;
	background-color: #ff8439;
	color: var(--white-color);
	font-size: 1.8rem;
	width: 100%;
	z-index: 10;
	cursor: pointer;
	box-shadow: 2px 3px 7px var(--box-shadow-dark);
	border-radius: 6px;
	transition: background-color 0.3s ease;
}
.faq .faq-list .faq-item__btn i {
	font-size: 3rem;
	transition: transform 0.3s 0.3s ease;
}
.faq .faq-list .faq-item__btn:hover,
.faq .faq-list .faq-item__btn:active,
.faq .faq-list .faq-item__btn:focus {
	background-color: var(--main-color-hover);
}
.faq .faq-list .faq-item__answer {
	margin-top: -5px;
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.faq .faq-list .faq-item__text {
	padding: 2rem 1.5rem;
	border-left: 2px solid var(--main-color);
	border-right: 2px solid var(--main-color);
	border-bottom: 2px solid var(--main-color);
	border-radius: 6px;
	font-size: 1.8rem;
	font-weight: 400;
}

.faq-item.active .faq-item__answer {
	max-height: 30rem;
}

.faq-item.active .faq-item__btn i {
	transform: rotate(180deg);
}

.offers {
	background-color: var(--white-color);
	margin: 2rem;
	border-radius: 6px;
}
.offers .section-heading {
	margin-bottom: 1rem;
	color: var(--dark-color);
}
.offers .offers-box {
	margin-top: 8rem;
	display: flex;
	gap: 10rem;
	flex-wrap: wrap;
	justify-content: space-between;
}
.offers .offers-box .offer-card {
	padding: 4rem 3rem;
	background-color: var(--pure-white-color);
	display: flex;
	flex-direction: column;
	width: 45%;
	flex: auto;
	box-shadow: 0px 0px 5px var(--box-shadow-dark);
	border-radius: 6px;
}
.offers .offers-box .offer-card--second {
	background-color: var(--dark-color);
}
.offers .offers-box .offer-card--second__heading {
	color: var(--white-color);
}
.offers .offers-box .offer-card__icon {
	display: block;
	width: 5rem;
	height: 5rem;
	padding: 4.5rem;
	border-radius: 50%;
	margin: -8rem auto 3rem auto;
	text-align: center;
	font-size: 4.5rem;
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--dark-color);
	background-color: #ff8439;
}
.offers .offers-box .offer-card__icon--second {
	border: 2px solid var(--pure-white-color);
}
.offers .offers-box .offer-card__heading {
	color: var(--dark-color);
	text-align: center;
	font-size: 2.4rem;
	margin: 2rem 0 0.5rem 0;
}
.offers .offers-box .offer-card__heading--second {
	color: var(--white-color);
}
.offers .offers-box .offer-card__description {
	text-align: center;
	font-size: 1.7rem;
	color: #ff8439;
	font-weight: bold;
	margin-bottom: 2rem;
}
.offers .offers-box .offer-card .offer-card-list {
	font-size: 1.6rem;
	color: var(--dark-color);
	font-weight: 400;
	padding: 1rem;
}
.offers .offers-box .offer-card .offer-card-list__item {
	margin-bottom: 1.5rem;
}
.offers .offers-box .offer-card .offer-card-list__item--second {
	color: var(--white-color);
}
.offers .offers-box .offer-card .offer-card-list__item:not(:last-child) {
	padding-bottom: 1rem;
	border-bottom: 2px solid #ff8439;
}
.offers .offers-box .offer-card__price {
	color: var(--dark-color);
	margin-top: auto;
	font-size: 2rem;
}
.offers .offers-box .offer-card__price--second {
	color: var(--white-color);
}
.offers .offers-box .offer-card__price span {
	font-weight: bold;
}

.contact {
	position: relative;
	overflow: hidden;
	background-color: var(--pure-white-color);
	z-index: 1;
}
.contact .section-heading {
	margin-bottom: 1rem;
	color: var(--dark-color);
}
.contact .contact-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	margin-top: 8rem;
}
.contact .contact-box .contact-ways {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	width: 45%;
}
.contact .contact-box .contact-ways__brand {
	text-align: center;
	font-size: 2.4rem;
	margin-bottom: 1rem;
	color: #ff8439;
}
.contact .contact-box .contact-ways .contact-list__item {
	color: var(--dark-color);
	display: flex;
}
.contact .contact-box .contact-ways .contact-list__item span {
	font-weight: bold;
	margin-right: 1rem;
}
.contact .contact-box .contact-form {
	width: 55%;
	padding: 3rem 6rem;
	background-color: #ff8439;
	border-radius: 6px;
	box-shadow: 2px 3px 7px var(--box-shadow-dark);
}
.contact .contact-box .contact-form .form-heading {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 2rem;
	color: var(--white-color);
}
.contact .contact-box .contact-form .form .form-box {
	display: flex;
	flex-direction: column;
}
.contact .contact-box .contact-form .form .form-box label {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 0.5rem;
}
.contact .contact-box .contact-form .form .form-box textarea,
.contact .contact-box .contact-form .form .form-box input {
	padding: 0.7rem;
	border: none;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.5rem;
	border-radius: 3px;
	border-bottom: 2px solid transparent;
	transition: border 0.3s;
}
.contact .contact-box .contact-form .form .form-box textarea:focus,
.contact .contact-box .contact-form .form .form-box input:focus {
	outline: none;
	border-bottom: 2px solid #1a1a1c;
}
.contact .contact-box .contact-form .form .form-box input {
	margin-bottom: 0.5rem;
}
.contact .contact-box .contact-form .form .form-box small {
	visibility: hidden;
	margin-bottom: 1.5rem;
	font-size: 1.3rem;
	color: hsl(0, 100%, 50%);
	font-weight: bold;
}
.contact .contact-box .contact-form .form .form-box.error small {
	visibility: visible;
}
.contact .contact-box .contact-form .form .form-box.error input {
	background-color: hsla(0, 22%, 87%, 0.887);
	border-bottom: 2px solid hsl(0, 100%, 50%);
}
.contact .contact-box .contact-form .form .form-box textarea {
	resize: none;
	min-height: 15rem;
}
.contact .contact-box .contact-form .form .form-btn {
	display: block;
	text-align: left;
	margin-top: 3rem;
	margin-left: auto;
	padding: 1rem 5rem;
	font-family: inherit;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.7rem;
	border-radius: 6px;
	color: var(--white-color);
	background-color: var(--dark-color);
	border: 2px solid var(--dark-color);
	transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}
.contact .contact-box .contact-form .form .form-btn:hover {
	color: var(--dark-color);
	background-color: transparent;
	border: 2px solid var(--dark-color);
}
.contact .contact-box .contact-form .form .form-btn:focus {
	outline: none;
	color: var(--dark-color);
	background-color: transparent;
	border: 2px solid var(--dark-color);
}
.contact .contact-box .contact-form .form .form-footer {
	margin-top: 1rem;
	font-size: 1.2rem;
}
.contact .contact-box .contact-form .form .form-footer a {
	text-decoration: underline;
}
.contact .contact-box .contact-socials {
	text-align: center;
	margin-top: 4rem;
	width: 100%;
}
.contact .contact-box .contact-socials__heading {
	color: var(--dark-color);
	font-size: 2rem;
	margin-bottom: 1rem;
}
.contact .contact-box .contact-socials .social-box {
	display: flex;
	font-size: 3rem;
	justify-content: center;
	gap: 3rem;
}
.contact .contact-box .contact-socials .social-box__item {
	color: #ff8439;
	transition: color 0.3s ease;
}
.contact .contact-box .contact-socials .social-box__item:hover {
	color: var(--main-color-hover);
}
.contact .msg-status {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	width: 60rem;
	box-shadow: 2px 2px 5px var(--box-shadow-dark);
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	border-radius: 1rem;
}
.contact .msg-status.success {
	display: block;
	background-color: hsl(143, 83%, 55%);
}
.contact .msg-status.error {
	display: block;
	background-color: hsl(9, 83%, 60%);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.8rem;
	font-size: 1.8rem;
	background-color: #1a1a1c;
	text-align: center;
	color: #fff;
}
.footer .footer-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	margin-left: 1.5rem;
}

@media (max-width: 1400px) {
	.header,
	.about,
	.portfolio,
	.offers {
		margin: 0;
		border-radius: 0;
	}
	.header::after {
		display: none;
	}
	.section {
		padding: 8rem 2rem;
	}
	.nav .wrapper {
		padding: 0 2rem;
	}
	.header {
		padding: 0 2rem;
	}
	.header-content {
		width: 50%;
	}
	.header-image {
		width: 50%;
	}
	.header-image__img {
		width: 100%;
	}
	.header-content__heading {
		font-size: 4rem;
		margin-bottom: 2rem;
	}
	.header-content__description {
		font-size: 1.8rem;
	}
}
@media (max-width: 1200px) {
	.about .about-box .about-cards .card {
		width: 100%;
	}
	.about .about-box .about-cards .card__description {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contact .contact-box {
		flex-wrap: wrap;
		justify-content: center;
	}
	.contact .contact-box .contact-ways {
		width: 100%;
		text-align: center;
	}
	.contact .contact-box .contact-form {
		width: 80%;
	}
	.contact .contact-box .contact-socials {
		text-align: center;
	}
}
@media (max-width: 992px) {
	html {
		scroll-padding-top: 0;
	}
	.menu-btn {
		display: flex;
	}
	.nav {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(100%);
		background-color: var(--pure-white-color);
		border-bottom: none;
		transition: transform 0.6s 0.3s;
	}
	.nav .wrapper {
		position: relative;
		flex-direction: column;
		align-items: center;
		width: 100%;
		justify-content: center;
		height: 100%;
	}
	.nav.expand .wrapper {
		height: 100%;
		max-width: 145rem;
	}
	.nav.expand {
		border-bottom: none;
		box-shadow: 1px 1px 5px transparent;
	}

	.nav .nav__logo {
		height: 5rem;
		margin-bottom: 3rem;
	}

	.nav .nav-links {
		flex-direction: column;
		text-align: center;
	}
	.nav .nav-links__item {
		font-size: 3rem;
	}
	.nav .nav-links__item a {
		padding: 1rem;
	}
	.nav .nav-links__item:not(:last-child) {
		margin-right: 0rem;
		margin-bottom: 3.5rem;
	}
	.nav .nav-links__item .btn-darkMode {
		margin-left: 0rem;
		font-size: 4rem;
		margin-top: 2rem;
	}
	.nav.open {
		transform: translateX(0);
	}
	.header {
		position: relative;
		padding: 16rem 2rem 8rem 2rem;
	}
	.header .logo-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 3rem;
		height: 4rem;
		left: 2rem;
	}
	.header .logo-mobile .logo {
		height: 100%;
		object-fit: cover;
	}
	.header .wrapper {
		height: 100%;
		flex-direction: column;
	}
	.header .header-content {
		width: 100%;
		height: 50%;
	}
	.header .header-image {
		height: 50%;
		width: 100%;
	}
	.header .header-image__img {
		margin: 0 auto;
	}
	.about-box {
		flex-direction: column;
	}
	.about .about-box .about-content {
		width: 100%;
		height: 100%;
		align-self: center;
	}
	.about .about-box .about-content__heading,
	.about .about-box .about-content__description {
		text-align: center;
	}
	.about .about-box .about-cards {
		width: 100%;
		align-self: center;
	}
	.about .about-box .about-cards .card {
		width: 48%;
	}
	.seo-box {
		flex-direction: column;
	}
	.seo-box .seo-content {
		width: 100%;
	}
	.seo-box .seo-images {
		width: 65%;
	}
	.portfolio .portfolio-box {
		grid-template-columns: repeat(2, 1fr);
	}
	.faq .faq-body {
		flex-direction: column;
	}
	.faq .faq-content {
		align-self: center;
		width: 100%;
	}
	.faq .faq-list {
		width: 100%;
	}
}
@media (max-width: 767px) {
	.portfolio .portfolio-box {
		grid-template-columns: 1fr;
		gap: 10rem;
	}
	.contact .contact-box .contact-socials {
		flex: auto;
	}
	.contact .contact-box .contact-ways {
		flex: auto;
	}
	.about .about-box .about-cards .card {
		flex: auto;
	}
	.contact .contact-box .contact-form {
		width: 100%;
		padding: 2rem;
	}
}
@media (max-width: 576px) {
	.section {
		padding: 8rem 1.5rem;
	}
	.cookie-modal {
		width: 90%;
	}
	.nav .nav-links__item a {
		font-size: 2.4rem;
	}
	.nav .nav-links__item--contact a {
		padding: 1rem 2rem;
	}
	.header-content__heading {
		font-size: 3.5rem;
		margin-bottom: 4rem;
	}
	.section-heading {
		font-size: 3rem;
		margin-bottom: 4rem;
	}
	.section-description {
		font-size: 2rem;
	}
	.header .wrapper {
		gap: 5rem;
	}
	.header-content__description--hash {
		text-align: center;
	}
	.seo-box,
	.faq .faq-body,
	.offers .offers-box,
	.portfolio .portfolio-box {
		gap: 5rem;
	}
	.seo-box .seo-images {
		width: 100%;
	}
	.portfolio .portfolio-box .project {
		overflow: hidden;
	}
	.offers .offers-box .offer-card {
		padding: 4rem 2rem;
	}
	.offers .offers-box .offer-card .offer-card-list {
		padding: 0;
	}
	.faq .faq-list .faq-item {
		margin: 2rem 0;
	}
	.contact .contact-box .contact-ways .contact-list__item {
		flex-direction: column;
		margin-bottom: 1rem;
	}
	.contact .contact-box .contact-form .form .form-btn {
		text-align: center;
		width: 100%;
	}
	.contact {
		padding: 8rem 1rem 2rem 1rem;
	}
} /*# sourceMappingURL=main.css.map */

@keyframes ring {
	0% {
		transform: rotate(0deg);
		box-shadow: 1px 5px 2px var(--main-color);
	}
	50% {
		transform: rotate(180deg);
		box-shadow: 1px 5px 2px var(--main-color-hover);
	}
	100% {
		transform: rotate(360deg);
		box-shadow: 1px 5px 2px var(--main-color);
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}
@keyframes slideInFromLeft {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes dropDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
